
// ---------------------------
// CART STYLES -----------
// ---------------------------


.woocommerce .col-9{
	min-height: 650px;
}


.element-row,.hb-main-content{
	.woocommerce{
		.shop_table{
			border-collapse: collapse;
			margin-bottom: 0 !important;
			th,td{
				font-family: 'gotham_lightregular';
    			font-weight: 600;
    			color: @brand-secondary;
    			a{
    				color: @brand-secondary;	
    			}
			}
			.cart_item{
				border-bottom: 1px solid #ddd;
			}
			.actions{
				padding-bottom: 0 !important;
			}
		}
		.hb-update-cart{
			display: none !important;
		}
		.simple-read-more{
			margin-top: 2em;
		}
		.checkout-button{
			font-family: 'gotham_mediumregular' !important;
		}
	}
	.calculated_shipping{
		.hb-cart-totals-wrap{
			font-family: 'gotham_lightregular';
    		font-weight: 600;
		}
		.hb-box-cont-header{
			font-family: 'gotham_mediumregular';
    		font-weight: 600;
    		color: @brand-secondary;
    		border-color: #000;
    		margin: 0 20px;
    		padding: 20px 0px 10px 0;
		}
		.hb-box-cont-body{
			padding-top: 10px;
    		line-height: 2.3;
    		.hb-cart-totals{
    			li{
    				border-color: #000;
    				border-top-style: solid;
    			}
    		}
		}
	}
	.coupon-toggle{
		.hb-accordion-tab{
			font-family: 'gotham_lightregular';
    		font-weight: 600;
    		color: @brand-secondary;
    		.icon-angle-right{
				color: @brand-secondary;
    		}
		}
	}
}










// Cart modal styles

#subscribe-modal{
	width: 650px;
	.hb-box-cont{
		background-color: #fff;
    	border-radius: 0;
    	overflow: initial;
    	&-body{
    		padding: 20px 50px;
    	}
    	.hb-box-cont-header{
    		padding: 0;
    		border: 0;
    		position: relative;
    		.close-modal{
    			float: none;
			    position: absolute;
			    top: -19px;
			    left: 0;
			    right: 0;
			    margin: 0 auto;
			    text-align: center;
			    width: 30px;
			    height: 30px;
			    line-height: 28px;
			    border-radius: 50%;
			    background-color: @brand-primary;
			    color: #333132;
			    font-size: 1.05em;
			    border: 1px solid;
    		}
    	}
	}
	.subscribe-content{
		.title{
			text-align: center;
		    font-family: 'gotham_mediumregular';
		    color: @brand-secondary;
		    font-size: 1.4em;
		    position: relative;
		    padding-bottom: 1em;
		    &:after{
		    	content: '';
		    	position: absolute;
		    	width: 20%;
		    	margin: 0 auto;
		    	background-color: @brand-primary;
		    	bottom: 0;
    			height: 2px;
    			left: 0;
    			right: 0;
		    }
		}
	}
	.product-details{
		display: flex;
	    align-items: center;
	    justify-content: space-between;
	    border: 1px solid #eee;
	    padding: 1em;
	    font-weight: 600;
	    color: @brand-secondary;
	    margin-bottom: 2em;
	}
	.product-name{
		margin-bottom: 0;
	}
	.subscribe-action{
		display: flex;
	    align-items: center;
	    justify-content: space-between;
	    padding: 1em 50px;
	    margin: 0px -50px -20px -50px;
	    background-color: #f2f2f2;
	    font-weight: 600;
	    color: @brand-secondary;
	    p{
	    	margin-bottom: 0;
	    	a{
	    		color: @brand-secondary;
	    	}
	    	&:not(.sub-link){
	    		display: flex;
	    		a{
	    			background-color: @brand-secondary;
				    color: #fff;
				    font-family: 'gotham_mediumregular';
				    font-size: 1.1em;
				    border: 0;
				    background-image: none;
				    border-radius: 4px;
				    padding: 0.6em 1.8em;
				    letter-spacing: 0.5px;
				    font-weight: 500;
				    &.ignore{
				    	background-color: transparent;
				    	text-decoration: underline;
				    	color: @brand-secondary;
				    }
	    		}
	    	}
	    }
	}
	.woocommerce{
		.col-9{
			width: 100%;
			margin-bottom: 0;
		}
		.col-3{
			display: none;
		}
		.woocommerce-cart-form{
			background-color: transparent;
			padding: 0;
		}
		.shop_table.shop_table{
			thead{
				th{
					font-family: 'gotham_lightregular';
    				font-weight: 600;
    				color: @brand-secondary;
    				text-align: center;
				}
			}
			tr{
				td{
					font-family: 'gotham_lightregular';
    				font-weight: 600;
    				color: @brand-secondary;
    				text-align: center;
    				a{
    					color: @brand-secondary;
    				}
				}
			}
			.product-remove,.product-subtotal,.product-price{
				display: none;
			}
			.product-thumbnail{
				img{
					margin: 0 auto;
				}
			}
			.product-quantity{
				input.minus,input.plus{
					display: none !important;
				}
				input.qty{
					background-color: transparent;
					pointer-events: none;
					border: 0;
					color: @brand-secondary;
					font-weight: 600;
				}
			}
			.actions{
				display: none;
			}
		}
	}
}



// ---------------------------
// SUBSCRIPTION/NOSUBSCRIPTION -----------
// ---------------------------


.no-subscription{
	display: flex;
    // align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
	.title{
		font-family: 'gotham_mediumregular';
    	color: rgba(0, 0, 0, 0.6);
    	font-size: 1em;
    	flex: 1;
    	margin-bottom: 0;
    	padding-right: 0.5em;
	}
	.cart-bottle{
		background-image: url('./img/cart-bottles.png');
		height: 75px;
    	width: 80px;
    	background-repeat: no-repeat;
    	background-size: contain;
	}
}

.subscription{
	padding: 1em;
    background-color: #fff;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.17);
    margin: 0.2em 0 1em 0;
    border: 1px solid rgba(220, 198, 153, 0.64);
    color: @brand-secondary;
    .title{
    	font-family: 'gotham_mediumregular';
    	font-size: 1.15em;
    	color: #002b4e;
    }
    .sub-label{
    	font-family: 'gotham_lightregular';
    	font-size: 0.9em;
    }
    .sub-select{
    	margin: 0.5em 0 1.5em 0;
    	border-radius: 4px;
    	background-color: transparent;
    	color: @brand-secondary;
    	font-family: 'gotham_lightregular';
    	font-weight: 600;
    }
    .brand-button{
    	text-align: center;
    	.vc_btn3.vc_btn3-color-grey.vc_general{
    		padding: 0.7em 1.8em;
    		font-size: 1.15em;
    	}
    }
}










