
// @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');


// ---------------------------
// HOME STYLES -----------
// ---------------------------


h1,h2,h3,h4,h5,h6{
	font-family: "Lato", "sans-serif";
}

body{
	font-weight: 600 !important;
}

.row.row-gap{
	margin: 4em 0;
}

.roboto{
	font-family: 'roboto';
}

#main-content .col-12.hb-main-content{
	padding-bottom: 0;
	margin-bottom: 0;
}

#main-wrapper.hb-stretched-layout{
	background-color: #fff;
}


@media handheld, only screen and (max-width: 767px){
	.container.container {
	    padding-left: 15px!important;
	    padding-right: 15px!important;
	}
	.vc_row .vc_col-sm-12{
		padding: 0;
	}
}

// default button

.brand-button{
	.vc_btn3.vc_btn3-color-grey.vc_general{
		background-color: @brand-secondary;
	    color: #fff;
	    font-weight: 600;
	    font-family: roboto;
	    font-size: 1.4em;
	    border: 0;
	    background-image: none;
	    border-radius: 4px;
	    padding: 0.8em 1.8em;
	    letter-spacing: 0.5px;
	    &:hover{
	    	background-color: lighten(@brand-secondary,5%);
	    	color: #fff;
	    }
	}
}


// ---------------------------
// NAVIGATION -----------
// ---------------------------


#header-inner-bg{
	border: 0;
    background-color: transparent;
    min-height: 140px;
}

#main-content{
	margin-top: 4em;
	@media screen and (max-width: 1400px){
		margin-top: 2em;
	}
}

.ind-custom-menu{
	display: flex;
	transition: all 0.3s ease;
	align-items: flex-end;
	justify-content: center;
	padding: 1.5em 15px;
	background-image: url('./img/bg-repeat.jpg');
	background-size: 5%;
    background-position: 13.3% 1px;
	#logo{
		max-width: initial !important;
		height: auto !important;
		float: none;
    	display: inline-block;
    	position: relative;
    	top: -5px;
    	img{
    		max-width: 100%;
    		height: auto;
    		width: 100%;
    	}
	}
	.col{
		flex: 1 0 40%;
		ul{
			display: flex;
			position: relative;
    		top: 5px; 
			li{
				padding: 0 1.5em;
				a{
					color: @brand-primary;
					font-size: 1.2em;
					&:after{
						content: "";
						position: relative;
    					top: -22px;
					    display: block;
					    margin: 0 auto;
					    width: 0;
					    height: 2px;
					    background-color: @brand-primary;
					    -webkit-transition: opacity .3s ease,width .3s ease;
					    transition: opacity .3s ease,width .3s ease;
					}
					&:hover{
						&:after{
							width: 100%;
						}
					}
				}
			}
		}
		&-left{
			display: flex;
    		justify-content: flex-end;
    		padding-right: 1em;
		}
		&-center{
			flex: 1 0 20%;
			text-align: center;
		}
		&-right{
			padding-left: 1em;
		}
	}
	&.fixed{
		position: fixed;
    	width: calc(~'100% - 30px');
    	padding-top: 0.5em;
    	padding-bottom: 0.5em;
    	align-items: center;
    	background-position: 13.3% -13px;
    	#logo{
    		height: 84px !important;
		    background-repeat: no-repeat;
		    background-image: url('./img/logo-half.png');
		    display: block;
		    background-position: center;
		    background-size: 90%;
    		img{
				display: none !important;
    		}
    		.hb-visible-logo img.default,.hb-visible-logo img.retina{
    			display: none !important;
    		}
    	}
    	.col{
    		padding: 0;
    		ul{
    			top: 0
    		}
    	}
	}
}


@media screen and (max-width: 1400px){
	.ind-custom-menu{
	   	background-position: 13.3% 2px;
		.col{
			ul{
				position: relative;
    			top: 10px; 
				li{
					padding: 0 1.2em;
					a{
						font-size: 1em;
					}
				}
			}
		}
		&.fixed{
			background-position: 13.5% -5px;
			.col{
				ul{
					top: 0
				}
			}
		}
	}
}

@media screen and (max-width: 1300px){
	.ind-custom-menu{
		&.fixed{
			background-position: 13.5% 0px;
		}
	}
}

// ---------------------------
// BANNER -----------
// ---------------------------

.row.banner-entry{
	margin: 0;
	& + .without-border{
		z-index: 1;
	}
}

.banner-row{
	.vc_col-sm-12{
		padding: 0;
	}

	.owl-carousel{
		.item{
			position: relative;
		}
		.banner-caption{
			position: absolute;
		    bottom: -3em;
		    width: 300px;
		    text-align: left;
		    left: 15em;
		    background-color: @brand-primary;
		    padding: 1.5em;
		    padding-bottom: 5em;
		    .msg{
				color: #fff;
	    		font-size: 2.5em;
	    		font-weight: 500;
	    		line-height: 1.3;
		    }
		}
		.owl-wrapper-outer{
			overflow: visible !important;
		}
	}

	.owl-controls{
		.owl-pagination{
			position: absolute;
	    	left: 16em;
			.owl-page.owl-page{
				span{
					position: relative;
				    display: inline-block;
				    margin: 0 5px;
				    background-color: #ba9346;
				    width: 12px;
				    height: 8px;
				    border-radius: inherit;
					&:after{
					  width: inherit;
					  height: inherit;
					  background-color: inherit;
					  content: "";
					  position: absolute;
					  left: 0;
					  transform: rotate(60deg);
					}
					&:before{
					  width: inherit;
					  height: inherit;
					  background-color: inherit;
					  content: "";
					  position: absolute;
					  left: 0;
					  transform: rotate(-60deg);
					}
				}
				&.active{
					span{
						background-color: #fff;
					}
				}
			}
		}
		.owl-buttons{
			display: none;
		}
	}


}



.social-link{
	position: absolute;
    bottom: 2em;
    right: 10em;
    .title{
    	color: #fff;
    	font-weight: 600;
    	font-size: 1.3em;
    }
    .socialIcons{
    	display: flex;
    	align-items: center;
    	justify-content: space-between;
    	.data{
    		background-color: @brand-primary;
    		padding: 0.8em;
    		border-radius: 5px;
    		margin: 0 0.5em;
    		min-width: 28px;
    		.fa{
    			font-size: 1.7em;
    			color: #fff;
    		}
    	}
    }
}



@media screen and (max-width: 991px){
	.banner-row{
		.owl-carousel{
			.item{
				position: relative;
				img{
					max-width: 160% !important;
					width: auto;
				}
			}
			.banner-caption{
				top: 25%;
    			right: 0;
    			margin: 0 auto;
    			bottom: inherit;
    			left: 0;
    			width: 150px;
    			padding-bottom: 1.5em;
			    .msg{
		    		font-size: 1.05em;
			    }
			}
			.social-link{
				display: none;
			}
		}
		.owl-controls{
			.owl-pagination{
				left: 0;
	    		right: 0;
	    		bottom: 0;
			}
		}
	}
}

@media screen and (min-width: 600px) and (max-width: 991px){
	.banner-row{
		.owl-carousel{
			.banner-caption{
    			width: 250px;
			    .msg{
		    		font-size: 2em;
			    }
			}
		}
	}
}

// ---------------------------
// PATTERN -----------
// ---------------------------


.pattern-bg{
	background-image: url('./img/transperent-bg.png');
	min-height: 160px;
    margin-top: -3em;
    @media screen and (max-width: 768px){
    	min-height: 80px;
    }
}



// ---------------------------
// ABOUT-US -----------
// ---------------------------

.row.about-row{
	margin-top: 2em;
	margin-bottom: 1em;
}

.site-title{
	font-size: 2.6em;
    font-weight: 600;
    color: @brand-secondary;
    letter-spacing: 1.5px;
    &:first-letter{
    	border-bottom: 3px solid @brand-primary;
    }
    @media screen and (max-width: 768px){
    	text-align: center;
    	font-size: 2.2em;
    }
}


.about-us{
	.about-data{
		font-size: 1.85em;
	    font-weight: 400;
	    line-height: 1.35;
	    color: @brand-primary;
	}
}


.row.aboutDetails{
	margin-top: 4em;
}

.row.about-second-row{
	margin-top: 2em;
	margin-bottom: 0;
}

.about-details{
	font-weight: 500;
    font-size: 1.3em;
    line-height: 1.5;
    font-family: roboto;
    overflow: hidden;
}

a[data-readmore-toggle]{
	font-size: 1.2em;
    color: #022c4c;
}


@media screen and (max-width: 500px){
	.about-us{
		.about-data{
			font-size: 1.5em;
			line-height: 1.4;
		}
	}
	.about-details{
		.data{
			font-size: 0.9em;
		}
	}
	a[data-readmore-toggle]{
		font-size: 1em;
		margin-top: 0.5em
	}
}


// ---------------------------
// DELIGHT -----------
// ---------------------------

.row.delight-row{
	margin: 3em 0;
	.brand-button{
		display: block;
    	text-align: center;
    	padding: 2em 0;
	}
}

.aboutDetails{
	& + .without-border{
		background-color: #f3ecdc;
    	padding-top: 0.5em;
    	padding-bottom: 0.2em;
    	&:after,&:before{
    		content: '';
    		display: block;
		    position: absolute;
		    bottom: 1.5em;
		    height: 2px;
		    background-color: #efe2cb;
		    width: 100%;
		    left: 0;
    	}
    	&:before{
    		top: 1.5em;
    		bottom: inherit;
    	}
	}
}
.delight{
	display: flex;
	position: relative;
	.wine-img{
		position: absolute;
    	top: -4em;
    	left: -3em;
    	img{
    		width: 60%;
    	}
	}
	&__title{
		color: @brand-secondary;
    	font-size: 2.4em;
    	line-height: 1.2;
    	letter-spacing: 1px;
	}
	&__caption{
		color: #847f76;
    	font-size: 1.4em;
	}
}

.delight-data{
	padding-left: 10em;
}


@media screen and (max-width: 600px){
	.row.delight-row{
		.brand-button{
	    	padding: 0;
		}
	}

	.delight{
		flex-direction: column;
	    margin: 0 -25px;
		.wine-img{
			position: static;
	    text-align: center;
	    	img{
	    		width: 50%;
	    	}
		}
		&__title{
			font-size: 1.4em;
		}
		&__caption{
	    	font-size: 1.2em;
		}
	}
	.delight-data{
		padding-left: 0;
	    text-align: center;
	    margin: 1em 0;
	}
}


// ---------------------------
// WHY INDIGO -----------
// ---------------------------

#main-content ul li{
	list-style-type: none;
}

.why-caption{
	font-family: roboto;
    font-size: 1.5em;
    color: @brand-secondary;
    letter-spacing: 0.5px;
    margin: 1em 0;
}

.why-points{
	.stats{
		display: flex;
    	align-items: flex-start;
    	justify-content: center;
    	flex-wrap: wrap;
		.section{
			flex: 1 0 calc(~'25% - 2em');
    		padding: 2.5em 1em;
    		text-align: center;
    		transition: all 0.5s ease;
			.why-icon{
				background-image: url('./img/sprite.png');
				height: 80px;
    			width: 80px;
    			margin: 0 auto;
    			background-size: 210px;
    			background-repeat: no-repeat;
    			&.quality{
    				background-position: 9% 2.5%;
    			}
    			&.relation{
    				background-position: 86% 2%;
    			}
    			&.passion{
    				background-position: 9% 13%;
    			}
    			&.conv{
    				background-position: 85% 12.5%;
    			}
			}
			.iconTitle{
				margin: 1em 0;
			    font-weight: 600;
			    text-transform: uppercase;
			    font-size: 1.2em;
			    color: @brand-primary;
			    font-family: lato;
			    &:after{
			    	content: '';
			    	display: inline-block;
			    }
			}
			.info{
				font-family: roboto;
    			font-size: 1.1em;
    			line-height: 1.5;
    			opacity: 0.8;
    			.join-link{
    				color: @brand-secondary;
    				text-decoration: underline;
    			}
			}
			&:hover{
				box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.11);
			}
		}
	}
}


@media screen and (min-width: 481px) and (max-width: 768px){
	.why-indigo{
		text-align: center;
	}
	.why-caption{
		font-size: 1.2em;
	}
	.why-points{
		.stats{
			.section{
				flex: 1 0 calc(~'50% - 2em');
			}
		}

	}
}




@media screen and (max-width: 480px){
	.why-indigo{
		text-align: center;
	}
	.why-caption{
		font-size: 1.2em;
	}
	.why-points{
		.stats{
			.section{
				padding: 0.5em 1em;
				flex: 1 0 calc(~'100% - 2em');
			}
		}
	}
}



// ---------------------------
// SERVICES -----------
// ---------------------------


#service-section{
	background: url(img/transperent-bg.png)repeat-x !important;
	background-color: #f7f7f7 !important;
}
.hexagon {
  position: relative;
  width: 130px;
  height: 77.74px;
  background-color: rgba(255, 255, 255, 0);
  margin: auto;
  border-left: solid 2px @brand-primary;
  border-right: solid 2px @brand-primary;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 90.71px;
  height: 90.71px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 18.6447px;
}

.hexagon:before {
  top: -47.3553px;
  border-top: solid 3.5px @brand-primary;
  border-right: solid 3.5px @brand-primary;
}

.hexagon:after {
  bottom: -47.3553px;
  border-bottom: solid 3.5px @brand-primary;
  border-left: solid 3.5px @brand-primary;
}

.line-grid li {
  border-right: 1px solid #ccc;
  position: relative;
  text-align: center;
  padding: 50px 0px;
  	.s-title{
  		margin-top: 60px;
  		font-weight: bold;
  	}
  	.overlay-box {
	  display: none;
	   -webkit-transition: all 1s ease-in-out;
	  -moz-transition: all 1s ease-in-out;
	  -o-transition: all 1s ease-in-out;
	  transition: all 1s ease-in-out;
	}
	&:hover{
		.overlay-box {
		    background: #fff;
		    cursor: pointer;
		    text-align: center;
		    display: block;
		    width: 83%;
		    height: 100%;
		    position: absolute;
		    top: -30px;
		    left: 0px;
		    padding: 25px;
		    z-index: 999;
		    box-shadow: 2px 1px 30px rgba(0, 0, 0, 0.22);
		    p{
		    color: #A8A8A8;
		    a{
		    	color: @brand-primary;
		    	}
		    }
		}
	}
}




// ---------------------------
// OUR WINE -----------
// ---------------------------

.why-indigo-row{
	& + .without-border{
		background-image: url('./img/wineyard.png');
		background-repeat: no-repeat;
    	background-size: cover;
    	padding: 1em 0 0 0;
    	overflow: hidden;
    	box-shadow: rgba(0,0,0,0.2) 0 0 0 500px inset;
	}
}

.our-wine{
	color: #fff;
    opacity: 0.9;
    .site-title{
    	color: #fff;
    }
	.our-caption{
		line-height: 1.4;
		color: #fff;
	}
	.timeline{
		margin-top: 3.5em;
    	display: flex;
    	flex-wrap: wrap;
    	align-items: center;
    	justify-content: center;
    	position: relative;
    	li{
    		flex: 1;
    		text-align: center;
    		.dot{
    			height: 15px;
			    width: 15px;
			    background-color: @brand-primary;
			    border-radius: 50%;
			    margin-bottom: 2em;
			    margin-left: auto;
    			margin-right: auto;
    		}
    	}
    	&__text{
    		font-size: 1.45em;
    		font-family: roboto;
    	}
    	&:before{
    		content: '';
    		display: block;
    		position: absolute;
		    height: 2px;
		    background-color: @brand-primary;
		    width: calc(~'100% - 15em');
		    top: 0.5em;
    	}
	}
}

.why-wines{
	color: #fff;
    margin-top: 5em;
    text-align: center;
    .title-wine{
    	color: #fff;
    	font-size: 1.8em;
    	font-weight: 600;
    }
    .points{
    	display: flex;
    	margin-top: 3em;
    	ul{
    		flex: 1;
    		text-align: left;
    		&.left{
    			padding-left: 13em;	
    		}
    		li{
    			display: flex;
    			align-items: center;
    			.fa-check{
    				margin-right: 0.5em;
				    height: 25px;
				    width: 25px;
				    background-color: @brand-primary;
				    border-radius: 50%;
				    line-height: 24px;
				    text-align: center;
    			}
    			.reason{
    				color: #fff;
    				font-size: 1.2em;
    				font-weight: 600;
    				line-height: 2.2;
    			}
    		}
    	}
    }
}

.featured-product{
	margin-top: 6em;
    text-align: center;
    position: relative;
    .feature-title{
    	color: #fff;
    	font-weight: 600;
    	font-size: 1.4em;
    	margin-bottom: 0;
    }
    .down{
    	position: relative;
    	&:before{
    		content: "\f107";
    		font: normal normal normal 14px/1 FontAwesome;
		    font-size: inherit;
		    text-rendering: auto;
		    -webkit-font-smoothing: antialiased;
		    width: 80px;
		    height: 80px;
		    background-color: #fff;
		    border-radius: 50%;
		    color: @brand-secondary;
		    font-size: 3em;
		    line-height: 57px;
		    position: absolute;
		    bottom: -2.8em;
		    left: 0;
		    right: 0;
		    text-align: center;
		    margin: 0 auto;
    	}
    }
}




@media screen and (max-width: 767px){
	.our-wine{
		.timeline{
			flex-direction: column;
	    	align-items: baseline;
	    	margin: 2em 5em;
	    	li{
	    		display: flex;
	    		width: 100%;
	    		.dot{
				    margin-left: 0;
	    			margin-right: 0;
	    		}
	    	}
	    	&__text{
	    		padding-left: 0.5em;
	    		font-size: 1.2em;
	    	}
	    	&:before{
	    		content: '';
	    		width: 2px;
	    		top: 0.5em;
	    		height: 100%;
	    		left: 6px;
	    	}
		}
	}

	.why-wines{
	    margin-top: 3em;
	    .points{
	    	flex-direction: column;
	    	ul{
	    		&.left{
	    			padding-left: 0;	
	    		}
	    		li{
	    			align-items: baseline;
	    			.reason{
	    				font-size: 1.15em;
	    			}
	    		}
	    	}
	    }
	}
}

@media screen and (min-width: 650px) and (max-width: 767px){
	.why-wines{
	    .points{
	    	flex-direction: row;
	    }
	}
}
	


// ---------------------------
// TRADE -----------
// ---------------------------

.row.trade-sperator{
	margin: 0;
	& + .without-border{
		background-color: #f2f2f2;
	}
}

.row.trade-row{
	margin: 0;
    padding: 4em 0 0 0;
}


.trade{
	.trade-caption{
		font-weight: 500;
    	line-height: 1.4;
    	.link{
    		font-weight: 600;
    		color: #022c4c;
    		text-decoration: underline;
    	}
	}
	&-banner{
		display: flex;
    	align-items: center;
    	justify-content: center;
    	background-image: url('./img/trade-image.png');
    	padding: 4em 0;
    	.service{
    		width: 400px;
    		padding: 1.5em;
    		background-color: #fff;
    		.title{
    			font-weight: 600;
    			font-size: 2.2em;
    			line-height: 1.3;
    		}
    		.lists{
    			font-family: roboto;
    			font-weight: 500;
    			margin-top: 2em;
    			li{
    				font-size: 1.35em;
    				margin-bottom: 1em;
    				&:last-child{
    					margin-bottom: 0;
    				}
    			}
    		}
    	}
	}
}

.pricelist{
	display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    bottom: -2.5em;
    .price-icon{
    	background-image: url('./img/sprite.png');
    	height: 80px;
	    width: 80px;
	    background-repeat: no-repeat;
	    background-size: 200px;
	    background-position: 6% 66.5%;
    }
    .title{
   		font-size: 1.4em;
   		width: 250px;
    	line-height: 1.3;
    	padding-left: 0.5em;
   		.link{
   			color: #000;
    		font-weight: 600;
    		text-decoration: underline;
   		}
    }
}


@media screen and (max-width: 600px){
	.trade{
		&-banner{
	    	.service.service{
    		    width: 75%;
			    position: relative;
			    top: 3em;
			    margin-bottom: 5em;
			    .title{
	    			font-size: 1.5em;
    			}
	    		.lists{
	    			li{
	    				font-size: 1.15em;
	    			}
	    		}
	    	}
		}
	}
	.pricelist{
    	bottom: 0;
	}
}


// ---------------------------
// LOGO CAROUSEL -----------
// ---------------------------

.logoCarousel{
	position: relative;
	.owl-carousel{
		.owl-wrapper-outer{
			overflow: hidden !important;
		}
	}
	.owl-pagination{
		display: none;
	}
	.owl-theme .owl-controls .owl-buttons{
		position: absolute;
	    top: 3em;
	    display: flex;
	    justify-content: space-between;
	    width: calc(~'100% + 8em');
    	left: -4em;
    	& > div{
    		background-color: #fff;
		    border: 2px solid rgba(0, 0, 0, 0.71);
		    color: rgba(0, 0, 0, 0.82);
		    opacity: 1;
		    font-size: 1.6em;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    height: 30px;
		    width: 30px;
		    padding: 0;
		    i{
		    	margin: 0;
		    }
    	}
	}
}

.row.logocar-row{
	margin-top: 0;
    margin-bottom: 2em;
    & + .without-border{
    	// border-top: 1px solid #ddd;

    }
}


.row.logo-car-row{
    margin-top: 0;
    .wait-msg{
		padding-top: 2em;
		font-size: 1.3em;
		font-family: roboto;
		line-height: 1.5;
		font-style: italic;
		color: @brand-secondary;
		opacity: 0.8;
    }
}


@media screen and (max-width: 500px){
	.logoCarousel{
		.owl-theme .owl-controls .owl-buttons{
		    width: calc(~'100% + 4em');
	    	left: -2em;
		}
	}
}



// ---------------------------
// CONTACT US -----------
// ---------------------------


.row.contact-from-row{
	margin: 0;
	& + .without-border{
		background-color: #002b4e;
    	color: #fff;
    	padding-top: 2em;
    	padding-bottom: 0em;
	}
}

.contact-us{
	position: relative;
	.site-title,.contact-caption{
		color: #fff;
	}
	.contactForm{
		margin: 5em 6em 0 6em;
    	border: 2px solid @brand-primary;
    	padding: 1em 3em;
	}
	.form-field{
		margin-bottom: 2.5em;
    	width: 75%;
    	&:last-child{
    		margin-bottom: 0;
    	}
    	input{
    		border: 0;
    		border-bottom: 2px solid #cdbb93;
    		background-color: transparent;
    		font-size: 1.15em;
    		font-weight: 600;
    		font-family: roboto;
    		color: #fff;
    		width: 100%;
    		padding-left: 0 !important;
    	}
	}
	.field-combo{
		display: flex;
    	align-items: center;
    	justify-content: space-between;
    	& > label{
    		flex: 1;
    	}
    	.email{
			margin-right: 0.5em;
		}
		.contact{
			margin-left: 0.5em;
			input[type='number']{
				padding: 15px 12px 10px;
			}
    	}
	}
	input[type='submit']{
		margin-left: 15px;
    	background-color: @brand-primary;
    	box-shadow: none;
    	padding: 1em 3em !important;
    	border-radius: 4px;
    	font-family: roboto;
    	font-size: 1.1em;
    	font-weight: 600;
    	&:active{
    		top: 0 !important;
    	}
	}
	input.wpcf7-not-valid{
		border: 0 !important;
		border-bottom: 2px solid #f00 !important;
	}
	.contact-card{
		position: absolute;
	    bottom: 10%;
	    right: -4em;
	    width: 220px;
	    padding: 2em;
	    border: 2px solid @brand-primary;
	    background-color: @brand-secondary;
	    .gift{
	    	background-image: url('./img/sprite.png');
	    	height: 86px;
		    width: 70px;
		    margin: 0 auto;
		    background-repeat: no-repeat;
		    background-position: 80% 65%;
		    background-size: 182px;
		    margin-bottom: 0.5em;
	    }
	    .why-caption{
	    	color: @brand-primary;
    		margin-top: 0;
    		font-size: 1.2em;
    		text-align: center;
    		font-weight: 400;
    		.link{
    			color: #dbc497;
    			font-weight: 600;
    			text-decoration: underline;
    		}
	    }
	}
}

.contact-footer{
	display: flex;
	justify-content: space-between;
	margin: 0 6em;
	& > div{
		flex: 1 0 33.33%;
		display: flex;
		justify-content:center;
	}
	.con-icon{
		background-image: url('./img/sprite.png');
		height: 34px;
	    width: 64px;
	    background-repeat: no-repeat;
	    background-position: 9% 75%;
    	background-size: 225px;
    	padding-right: 0.5em;
    	&.phone{
    		width: 36px;
    		background-position: 31% 75%;
    	}
	}
	.social-link{
		position: static;
		.title{
			margin: 0;
    		font-size: 1em;
    		opacity: 0.6;
		}
		.socialIcons{
			align-items: baseline;
			.data{
				padding: 0.4em 0.5em;
				min-width: 20px;
    			text-align: center;	
    			.fa{
    				font-size: 1.3em;
    			}
			}
		}
	}
	.data{
		color: @brand-primary;
		font-family: roboto;
		font-size: 1.25em;
	}
}

.row.contact-row{
	margin-bottom: 0;
    border-bottom: 1px solid #024982;
}


#footer{
	display: none;
}



@media screen and (max-width: 991px){
	.contact-us{
		.contactForm{
			margin: 3em 0;
    		padding: 1em;
		}
		.form-field{
	    	width: 100%;
	    	label{
	    		padding-left: 0;
	    	}
		}
		.field-combo{
			flex-direction: column;
	    	& > label{
	    		padding: 0;
	    	}
	    	.email{
				margin-right: 0;
				width: 100%;
			}
			.contact{
				margin-left: 0;
				width: 100%;
	    	}
		}
		input[type='submit']{
			display: block;
    		margin: 0 auto;
    		font-size: 1em;
		}
		.contact-card{
			position: static;
    		width: auto;
		    .why-caption{
	    		font-size: 1.05em;
		    }
		}
	}
	.contact-footer{
		flex-direction: column;
    	margin: 0;
    	align-items: baseline;
		& > div{
			margin: 1em 0;
		}
		.data{
			color: @brand-primary;
			font-family: roboto;
			font-size: 1.1em;
		}
	}	
}


@media screen and (min-width: 768px) and (max-width: 991px){
	.contact-footer{
		.con-icon{
			height: 34px;
		    width: 34px;
		}
	}
}


// ---------------------------
// COPYRIGHT -----------
// ---------------------------

#copyright-wrapper{
	background-color: #002b4e;
    padding: 3em 0 !important;
}

.normal-copyright #copyright-text{
	float: none;
    font-family: roboto;
    font-size: 1.3em;
}




// ---------------------------
// MOBILE MENU -----------
// ---------------------------

.indigo-m-menu{
	display: none;
}

@media screen and (max-width: 500px){
	.indigo-m-menu{
		display: block;
		background-image: url('./img/bg-repeat.png');
		.top{
			.site-logo{
				background-image: url('./img/logo-half.png');
			}
		}
	}
	.ind-custom-menu{
		display: none;
	}
	.header-inner-bg{
		min-height: 0;
	}
}




@media (max-width: 767px) {
  .line-grid li:hover .overlay-box {
    padding: 15px;
  }
}

@media (max-width: 767px) {
  .line-grid li:hover .overlay-box h3 {
    font-size: 13px;
  }
}
.line-grid li:hover .overlay-box a {
  color: #ccc;
}
.line-grid li:nth-child(4) {
  border-right: 0px;
}
.line-grid li:after {
  margin-top: 1px;
  content: " ";
  border-bottom: 1px solid #ccc;
  background: #00f;
  width: 78%;
  position: absolute;
  bottom: -17px;
  left: 0%;
  right: 0%;
  margin: auto;
}
@media (max-width: 767px) {
  .line-grid li:after {
    bottom: -10px;
  }
}

// Services-icon
.icn-services{
	    background: url(img/sprite.png) no-repeat;
	    width: 80px !important;
	    height: 80px!important;
	    display: block !important;
	    margin: auto;
	    background-size: 250%;
}
.icn-club{
		background-position: -11px -215px !important;
}
.icn-curation{
		background-position: -105px -215px !important;
}
.icn-events{
		background-position: -11px -315px !important;
}
.icn-education{
		background-position: -105px -307px !important;
}
.icn-travel{
		background-position: -11px -406px !important;
}
.icn-corporate{
		background-position: -105px -408px !important;
}
.icn-offers{
		background-position: -11px -493px !important;
}
.icn-distribution{
		    background-position: -99px -493px !important;
}


