.mb-2{
	margin-bottom: 2em;
}
.producer
{
	&-list{
		display: grid;
		margin: 30px 0;
		grid-gap: 20px;
		@media screen and (max-width: 500px){
			grid-template-columns: repeat(1, 1fr);
		}
		@media screen and (min-width: 501px) and (max-width: 998px){
			grid-template-columns: repeat(2, 1fr);
		}
		@media screen and (min-width: 999px){
			grid-template-columns: repeat(3, 1fr);
		}
	}
	&-image{
		display: block;
		margin-bottom: 15px;
	}
	&-title{
		font-size: 18px;
	}
	&-category{
		&-image{
			&-container{
				min-height: 450px;
				float: left;
				width: 50%;
			}
		}
		&-description{
			&-title{
				font-weight: bold;
				margin-bottom: 20px;
				position: relative;
				&:before{
					bottom: 0px;
				    background-color: #232323;
				    content: " ";
				    position: absolute;
				    left: 0;
				    width: 100px;
				    height: 1px;
				    display: inline-block;
				}
			}
			&-container{
				float: left;
				width: 50%;
			}
			&-inner{
				margin: 20px 90px;
			}
		}
	}
}