@font-face {
  font-family: 'gotham_bookregular';
  src: url('fonts/gotham-book-webfont.eot');
  src: url('fonts/gotham-book-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gotham-book-webfont.woff') format('woff'), url('fonts/gotham-book-webfont.ttf') format('truetype'), url('fonts/gotham-book-webfont.svg#gotham_bookregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_lightregular';
  src: url('fonts/gotham-light-webfont.eot');
  src: url('fonts/gotham-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gotham-light-webfont.woff') format('woff'), url('fonts/gotham-light-webfont.ttf') format('truetype'), url('fonts/gotham-light-webfont.svg#gotham_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_mediumregular';
  src: url('fonts/gotham-medium-webfont.eot');
  src: url('fonts/gotham-medium-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gotham-medium-webfont.woff') format('woff'), url('fonts/gotham-medium-webfont.ttf') format('truetype'), url('fonts/gotham-medium-webfont.svg#gotham_mediumregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
#login {
  width: 450px;
}
@media screen and (max-width: 480px) {
  #login {
    width: 320px;
  }
}
.logo-link a:focus {
  outline: 0;
  box-shadow: none;
}
.login-action-register,
.login-action-login,
.login-action-lostpassword {
  background-color: rgba(0, 0, 0, 0.75);
}
.login-action-register .login-reg,
.login-action-login .login-reg,
.login-action-lostpassword .login-reg {
  background-color: #022c4c;
  margin-top: 0;
  padding: 26px;
}
.login-action-register .login-reg label,
.login-action-login .login-reg label,
.login-action-lostpassword .login-reg label {
  font-size: 1.1em;
  margin: 0.5em 0 1em 0;
  text-indent: 0;
  font-family: gotham_lightregular;
  display: block;
  color: rgba(255, 255, 255, 0.5);
}
.login-action-register .login-reg .input,
.login-action-login .login-reg .input,
.login-action-lostpassword .login-reg .input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #d1b57c;
  line-height: 0;
  padding: 0.2em !important;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  font-family: gotham_lightregular;
  margin: 0.5em 0;
  box-shadow: none;
}
.login-action-register .login-reg .input:-webkit-autofill,
.login-action-login .login-reg .input:-webkit-autofill,
.login-action-lostpassword .login-reg .input:-webkit-autofill {
  -webkit-transition: background-color 5000s ease-in-out 0s;
          transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}
.login-action-register .login-reg .forgetmenot,
.login-action-login .login-reg .forgetmenot,
.login-action-lostpassword .login-reg .forgetmenot {
  float: none;
}
.login-action-register .login-reg .forgetmenot label,
.login-action-login .login-reg .forgetmenot label,
.login-action-lostpassword .login-reg .forgetmenot label {
  font-size: 1.1em;
}
.login-action-register .login-reg .forgetmenot input[type="checkbox"],
.login-action-login .login-reg .forgetmenot input[type="checkbox"],
.login-action-lostpassword .login-reg .forgetmenot input[type="checkbox"] {
  height: 13px;
  min-height: 13px;
  width: 13px;
  min-width: 13px;
}
.login-action-register .login-reg .forgetmenot input[type="checkbox"]:before,
.login-action-login .login-reg .forgetmenot input[type="checkbox"]:before,
.login-action-lostpassword .login-reg .forgetmenot input[type="checkbox"]:before {
  margin: -3px 0 0 -4px;
  font-size: 1.3em;
}
.login-action-register .login-reg .submit,
.login-action-login .login-reg .submit,
.login-action-lostpassword .login-reg .submit {
  margin-top: 2.5em !important;
  text-align: center;
}
.login-action-register .login-reg .submit .button-primary,
.login-action-login .login-reg .submit .button-primary,
.login-action-lostpassword .login-reg .submit .button-primary {
  float: none;
  border-radius: 0;
  box-shadow: none;
  background-color: #d1b57c;
  border: 0;
  padding: 0.35em 1.8em !important;
  font-size: 1.15em;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-shadow: none;
  font-family: gotham_lightregular;
  height: auto;
}
@media screen and (max-width: 480px) {
  .login-action-register .login-reg .submit .button-primary,
  .login-action-login .login-reg .submit .button-primary,
  .login-action-lostpassword .login-reg .submit .button-primary {
    padding: 0.6em 1.8em !important;
  }
}
.login-action-register .login-reg .email-notify,
.login-action-login .login-reg .email-notify,
.login-action-lostpassword .login-reg .email-notify {
  font-size: 1.05em;
  text-indent: 0;
  font-family: gotham_lightregular;
  display: block;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-bottom: -1em !important;
}
.login-action-register .login-reg label[for="user_email"],
.login-action-login .login-reg label[for="user_email"],
.login-action-lostpassword .login-reg label[for="user_email"] {
  position: relative;
}
.login-action-register .login-reg label[for="user_email"] .required-label,
.login-action-login .login-reg label[for="user_email"] .required-label,
.login-action-lostpassword .login-reg label[for="user_email"] .required-label {
  position: absolute;
  left: 2.7em;
}
.login-action-register .message.login-reg-msg,
.login-action-login .message.login-reg-msg,
.login-action-lostpassword .message.login-reg-msg {
  color: #000;
}
.login-action-register.login #login {
  padding: 0.8% 0 0;
}
.required-label {
  color: #ff353b;
  padding-left: 0.25em;
}
.login .message,
.login #login_error {
  font-family: gotham_bookregular;
  font-weight: 600;
  margin-top: 1em;
  background-color: #fff;
  color: #022c4c;
  border: 0;
  text-align: center;
  font-size: 1.1em;
  box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.13);
}
.login #login_error {
  color: #ff353b;
  text-align: left;
  line-height: 1.5;
  font-size: 1.05em;
}
.login #login {
  padding: 3% 0 0;
}
.login #login h1 a {
  width: 270px !important;
  height: auto;
  height: 130px !important;
  background-size: 100%;
  margin-bottom: 0;
}
.login #backtoblog {
  font-size: 1.15em;
  margin: 1em 0;
}
.login #nav {
  margin-top: 1.5em;
  color: #fff;
}
.login #nav a {
  font-size: 1.05em;
}
.login #backtoblog,
.login #nav {
  text-align: center;
}
.login #backtoblog a,
.login #nav a {
  color: #fff;
  font-family: gotham_lightregular;
}
.login #backtoblog a:hover,
.login #nav a:hover {
  color: #d1b57c;
}
.login #backtoblog a:focus,
.login #nav a:focus {
  box-shadow: none;
  color: inherit;
}
#resetpassform {
  font-family: gotham_bookregular;
  font-weight: 600;
  background-color: #022c4c;
  color: #fff;
  margin-top: 0;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.36);
}
#resetpassform label {
  color: #fff;
}
#resetpassform .wp-pwd {
  margin: 1em 0;
}
#resetpassform .wp-pwd #pass1-text {
  font-family: gotham_bookregular;
  font-size: 1.4em;
}
#resetpassform .wp-pwd #pass-strength-result {
  font-family: gotham_mediumregular;
}
#resetpassform .submit {
  text-align: center;
}
#resetpassform .submit .button.button-large {
  float: none;
  background-color: #d1b57c;
  color: #fff;
  text-shadow: none;
  border-radius: 0;
  padding: 0.5em 1em;
  border: 0;
  height: auto;
  font-size: 1.1em;
  font-weight: 500;
  box-shadow: none;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
#resetpassform .submit .button.button-large:hover {
  background-color: #c4a056;
}
#resetpassform + #nav {
  display: none;
}
/*# sourceMappingURL=misc.css.map */